<div class="container">
   <nav class="navbar bg-body-tertiary bg-body-secondary">
  <div class="container-fluid p-0 ">
    <a href="/flowers/all" class=" fs-1 text-black link-dark border  text-decoration-none">Bosh sahifa</a>
    <span class="navbar-brand mb-0 fs-1 fw-bolder">Dashboard</span>
    <button  class="btn btn-primary add_flower-btn">+ Qo'shish</button>
  </div>
</nav>

    <h2 class=" text-center fs-3 ">Buyurtmalar</h2>
    <table class="table table-bordered table-striped table-responsive table-light">
            <thead >
              <tr>
                <td>ID</td>
                <td>Ism</td>
                <td>Manzil</td>
                <td>Buyurtma miqdori</td>
                <td>Narxi</td>
                <td>Buyurtma xolati</td>
                <td>Boshqarish</td>
            </tr>
            
            </thead>
            <tbody class="admin_tbody">
              {{#each reservations}}
               <tr>
               <td> {{id}}</td>
               <td> {{fullName}}</td>
               <td> {{region}}</td>
               <td> {{amount}}</td>
               <td> {{flower.price}} so'm</td>
               <td> {{status}}</td>
               <td class=" d-flex justify-content-center gap-2">
                <button type="submit" class="btn edit-btn p-1 btn-success" data-resedit="edit" data-id="{{id}}" data-resid="{{reservations.id}}"  data-amount="{{amount}}" data-price="{{flower.price}}" data-status="{{status}}">Tahrirlash</button>
                <form action="/admins/flower/delete/{{id}}" method="post">
                  <button type="submit" class="btn p-1 btn-danger ">O'chirish</button>
                </form>
               </td>
               </tr>
            {{/each}}
               <tr>
                 <td colspan="3">Jami</td>
                 <td > {{allReservationsCount}}</td>
                 <td colspan="3"> {{reservationSum}} so'm</td>
               </tr>
            </tbody>
    </table>

    <h2 class=" text-center fs-3 ">Barcha gullar</h2>
        <table class="table table-bordered table-striped table-responsive table-light">
            <thead >
              <tr>
                <td>ID</td>
                <td>Nomi</td>
                <td>Miqdori</td>
                <td>Narxi</td>
                <td>Buyurtmalar</td>
                <td>Buyurtma xolati</td>
                <td>Boshqarish</td>
            </tr>
            
            </thead>
            <tbody id="admin_tbody2">
              {{#each flowers}}
               <tr>
               <td> {{id}}</td>
               <td> {{title}}</td>
               <td> {{amount}}</td>
               <td> {{price}} so'm</td>
               <td> {{reservations.amount}}</td>
               <td> {{reservations.status}}</td>
               <td class=" d-flex justify-content-center gap-2">
                {{!-- <form action="/admins/flower/edit/{{id}}" method="post"> --}}
                  <button type="submit" class="btn p-1 btn-info">Izohlar</button>
                  <button type="submit" class="btn edit-btn p-1 btn-success" data-resamount="{{reservations.amount}}" data-edit="edit" data-id="{{id}}" data-resid="{{reservations.id}}" data-title="{{title}}" data-description="{{description}}" data-imageurl="{{imageUrl}}" data-amount="{{amount}}" data-price="{{price}}" data-status="{{status}}">Tahrirlash</button>
                {{!-- </form> --}}
                <form action="/admins/flower/delete/{{id}}" method="post">
                  <button type="submit" class="btn p-1 btn-danger ">O'chirish</button>
                </form>
               </td>
               </tr>
            {{/each}}
               <tr>
                 <td colspan="2">Jami</td>
                 <td > {{allFlowersCount}} </td>
                 <td > {{allFlowersSum}} so'm</td>
                 {{!-- <td > {{allReservationsCount}}</td> --}}
               </tr>
            </tbody>
    </table>
</div>