<div class="container">
    <h2 class="flowershop_title">
        Flowershop
    </h2>
      {{#if admin}}
          <a href="/admins/dashboard" class="text-decoration-none fw-bold text-end position-absolute top-0 mt-3"> <h2>Dashboard</h2> </a>
      {{/if}}

    <div class="wrapper">
        {{#each flowers}}
            <div class="card">
               <img src="{{imageUrl}}" class=" card-img-top" alt="flower">
                <section class="card-body">
                    <h5 class="card-title"> {{title}} </h5>
                    <p class="card-text"><b>Mavjud: </b> {{amount}} dona</p>
                    <p class="card-text pb-0"><b>Narx: </b> {{formatNumber price}} so'm</p>
                </section>
                <section class="card-footer">
                    <a href="/flowers/buy/{{id}}" class="buy_btn text-decoration-none">Xarid qilish</a>
                    <a class="comment_btn text-decoration-none" data-id="{{id}}" data-comment="comment">Izoh qoldirish</a>
                </section>

            </div>
        {{/each}}
    </div>
    <div class="buttons_wrapper">
        <a href="?page={{prevPage}}"><button {{#if isNotPrevExist}}disabled{{/if}}>Oldingi</button></a>
        <a href="?page={{nextPage}}"><button {{#if isNotNextExist}}disabled{{/if}}>Keyingi</button></a>
    </div>
</div>